/* Add a font-family */
@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-Regular.ttf') format('truetype');
}

table {
    border: 2px solid rgba(0, 0, 0, 0.275);
}

th {
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.275);
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
}

.graphics_dropdown_section:hover {
    cursor: pointer;
}