@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    overflow-x: hidden;
}

.title_us {
    font-size: 20px;
    user-select: none;
    transition: all 0.10s ease 0s;
}

.title_us:hover {
    font-size: 21px;
    cursor: pointer;
}

.title_us:active {
    font-size: 19px;
}

.title_us:hover > span {
    color: white;
    text-shadow: 0 0 8px white;
}

.first {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 0 10px 20px;
    background-color: rgb(70, 113, 220);
    color: rgb(193, 229, 255);
    transition: all 0.25s linear 0s;
}

.second {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 20px 10px 0;
    background-color: rgb(220, 70, 115);
    color: rgb(255, 193, 212);
    transition: all 0.25s linear 0s;
}

.button {
    margin: 10px;
    padding: 10px 20px;
    display: block;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 1rem;
    background-color: rgb(255, 99, 71);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none; /* So the user won't be able to select the text inside */
}

.header_container {
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.website_name {
    margin: 0 10px;
    font-family: 'Roboto-Light', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#animated_ghost_emoji_container {
    pointer-events: none;
    position: absolute;
    z-index: 1;
}

#animated_ghost_emoji_container > img {
    width: 100px;
}

.circle_divider {
    margin: auto 10px;
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.371);
    display: block;
}

.line_divider {
    margin: 0 auto 10px auto;
    padding: 0;
    width: 50%;
    height: 2px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.371);
    display: block;
}

.content_iframe_navigation_bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_iframe_navigation_bar > a {
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.content_iframe_navigation_bar > a > .button {
    transition: all 0.25s ease 0s;
}

.content_iframe_navigation_bar > a:nth-child(odd) > .button {
    background-color: rgb(70, 113, 220);
    border: 0 solid rgba(70, 113, 220, 0.508);
}

.content_iframe_navigation_bar > a:nth-child(odd):hover > .button {
    background-color: rgb(101, 141, 241);
}

.content_iframe_navigation_bar > a:nth-child(odd):active > .button {
    background-color: rgb(49, 91, 197);
}

.content_iframe_navigation_bar > a:nth-child(even) > .button {
    background-color: rgb(220, 70, 115);
    border: 0 solid rgba(220, 70, 115, 0.508);
}

.content_iframe_navigation_bar > a:nth-child(even):hover > .button {
    background-color: rgb(240, 92, 136);
}

.content_iframe_navigation_bar > a:nth-child(even):active > .button {
    background-color: rgb(201, 54, 98);
}

.content_iframe_navigation_bar > a:focus > .button {
    padding: 18px 30px;
    border: 2px solid rgba(0, 0, 0, 0.097);
}

.content_iframe_container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 940px;
    height: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 = 0.5625) */
}

.responsive_content_iframe {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-style: none;
}
